#root {
  margin: 0 0;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.side-panel {
  width: 20%;
}

.maze-container {
  flex: 1;
}

.maze-container>div {
  aspect-ratio: 1 / 1;
  display: grid;
  border: 5px solid black;
}